@font-face {
  font-family: 'Gistesy';
  src: url('/fonts/Gistesy.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @keyframes shiver {
    0% {
      transform: translate(0, 0);
    }

    25% {
      transform: translate(-2px, 1px);
    }

    50% {
      transform: translate(2px, -1px);
    }

    75% {
      transform: translate(-2px, -1px);
    }

    100% {
      transform: translate(0, 0);
    }
  }

  .animate-shiver {
    animation: shiver 0.2s infinite;
  }

  .swap-shrimp {
    animation: swap-shrimp 1.5s ease-in-out forwards;
  }

  .swap-grits {
    animation: swap-grits 1.5s ease-in-out forwards;
  }

  .swap-and {
    animation: stay-center 1.5s ease-in-out forwards;
  }

  @keyframes swap-shrimp {
    0% {
      transform: translate(0, 0);
    }

    50% {
      transform: translate(35%, 30px);
    }

    100% {
      transform: translate(70%, 0);
    }
  }

  @keyframes swap-grits {
    0% {
      transform: translate(0, 0);
    }

    50% {
      transform: translate(-35%, -30px);
    }

    100% {
      transform: translate(-70%, 0);
    }
  }

  @keyframes stay-center {

    0%,
    100% {
      opacity: 1;
    }

    50% {
      opacity: 0.5;
    }
  }
}